<!DOCTYPE HTML>
<link href="css/NavBarStylesheet.css" rel="stylesheet" type="text/css"/>
<html>
 <head>
  <title>Social Network</title>
  <p>Logged in as <%= username %>.</p>
 </head>
 <body>
   <h1><center>Social Network</center></h1>   
   
   <!-- Navigation Bar -->
   <center>
   <div class="navbar-container">
     <div class="navbar-item1">
       <form action="posts" method="GET">
         <button type="submit" value="posts">Posts</button>
       </form>
     </div>
    <!-- <div class="navbar-item2">Posts</div>
     <div class="navbar-item3">Posts</div>
     <div class="navbar-item4">
       <form action="music" method="GET">
         <button type="submit" value="music">Music</button>
       </form>
       </form>
     </div> -->
   </div>
   </center>
   <!--
   <form action="<%=Sec%>" method="GET" id="ReLoad"></form>
   <h3><center>
   <button type="submit" name="org" value="Feed" form="ReLoad">Feed</button> 
   | 
   <button type="submit" name="org" value="Popular" form="ReLoad">Popular</button>  
   | 
   <button type="submit" name="org" value="New" form="ReLoad">New</button> 
   </center></h3>
   -->
 </body>

</html>
